
.footer{
    display: flex;
    justify-content:center;
    flex-direction: column; 
    text-align: center;
    margin-top: 120px;
    align-items: center;
    padding-bottom: 10px ;
}
.footer a{
    color: white;
    font-size: 12px;
}
.footer a:hover{
    color: var(--onlineshop-fontcolor);
}
.p-footer{
    font-size: 12px
}

@media (min-width: 768px) {
    .p-footer{
        font-size: 15px;
    }
    .footer{
        flex-direction: row;
    }
    .footer a{
        font-size: 15px;
    }
}
@media (min-width: 1180px) {
    .p-footer{
        font-size: 19px;
    }
    .footer a{
        font-size: 19px;
    }
   
}