h2 {
    margin: 24px 0 80px 60px;
}
.masonry-with-columns {
  columns: 1;
}

.masonry-with-columns img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 30px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.modalImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

.modalImage img {
    max-width: 100%;
    max-height: 90vh;
    
} 


@media (min-width: 768px) {
   h2 {
    text-align: center;
    margin: 100px 0 80px 0;
    
   } 
  .masonry-with-columns {
    columns: 2;
    column-gap: 34px;
  }

  .masonry-with-columns img {
    margin-bottom: 34px;
  }
}

@media (min-width: 1024px) {
    h2 {
        margin-bottom: 100px;
    }
  .masonry-with-columns {
    columns: 3;
    column-gap: 30px;
  }

  .masonry-with-columns img {
    margin-bottom: 30px;
  }
}
