

.about-project h2 {   
margin-bottom: 65px;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: auto;
    max-width:550px;
}

.project-images img {
    width: 171px;
    height: 151px;
    object-fit: cover;
    border-radius: 25px;
}

.about-project .article {
    text-align: var(--text-align-about-project-mobile);
    line-height: 1.6;
    margin: auto;
    margin-top: 40px;
}
.about-project main-container p {
    margin: 15px 0;
}
#underline {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .about-project .article {
        text-align: var(--text-align-about-project-desktop-tablet);
        margin-top: 60px;
        width:90%;
        max-width: 1150px;
       
    }
    .project-images img {
        width: 277px;
        height: 233px;
    }
    .project-images {
        max-width: 100%;
        gap: 30px;
    }

}
@media (min-width: 1180px) {
   
    h2 {
        text-align: center;
    }
    .project-images {
        gap: 60px;
    }
    .article {
        width: 90%;
        /* max-width: 1150px; */
    }
}